{% extends 'layouts/base.html' %}

{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/departamentos.css' %}">
{% endblock extrastyle %}
    


{% block content %}

    

  {% block header %}
  <header>
      <h3 class="text-center my-5">Departamentos</h3>
  </header>

  {% endblock header %}
    <div class="container">
        <div class="modal-footer d-flex justify-content-end flex-wrap my-2">
            <div>
              <a class="btn btn-secondary my-auto" href="#">
                Imprimir
                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="#fff" d="M128 0C92.7 0 64 28.7 64 64v96h64V64H354.7L384 93.3V160h64V93.3c0-17-6.7-33.3-18.7-45.3L400 18.7C388 6.7 371.7 0 354.7 0H128zM384 352v32 64H128V384 368 352H384zm64 32h32c17.7 0 32-14.3 32-32V256c0-35.3-28.7-64-64-64H64c-35.3 0-64 28.7-64 64v96c0 17.7 14.3 32 32 32H64v64c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V384zM432 248a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/>
                </svg>
              </a>
            </div>
            <div class="dropdown mx-2">
              <button class="btn btn-secondary dropdown-toggle my-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="#fff" d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/>
                </svg>
                Exportar Como
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li>
                  <a class="dropdown-item font-weight-bold" href="#">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="#fff" d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 144-208 0c-35.3 0-64 28.7-64 64l0 144-48 0c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128zM176 352l32 0c30.9 0 56 25.1 56 56s-25.1 56-56 56l-16 0 0 32c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-48 0-80c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24l-16 0 0 48 16 0zm96-80l32 0c26.5 0 48 21.5 48 48l0 64c0 26.5-21.5 48-48 48l-32 0c-8.8 0-16-7.2-16-16l0-128c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16l0-64c0-8.8-7.2-16-16-16l-16 0 0 96 16 0zm80-112c0-8.8 7.2-16 16-16l48 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 32 32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 48c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-64 0-64z"/>
                    </svg>
                    PDF
                  </a>
                </li>
                <li>
                  <a class="dropdown-item font-weight-bold" href="#">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                      <path fill="#fff" d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM155.7 250.2L192 302.1l36.3-51.9c7.6-10.9 22.6-13.5 33.4-5.9s13.5 22.6 5.9 33.4L221.3 344l46.4 66.2c7.6 10.9 5 25.8-5.9 33.4s-25.8 5-33.4-5.9L192 385.8l-36.3 51.9c-7.6 10.9-22.6 13.5-33.4 5.9s-13.5-22.6-5.9-33.4L162.7 344l-46.4-66.2c-7.6-10.9-5-25.8 5.9-33.4s25.8-5 33.4 5.9z"/>
                    </svg>
                    Excel
                  </a>
                </li>
              </ul>
            </div>
        </div>
      <div class="ms-md-auto pe-md-3 d-flex align-items-center justify-content-end">
        <div class="input-group w-auto">
            <span class="input-group-text text-body bg-white  border-end-0 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                </svg>
            </span>
            <input type="text" class="form-control ps-0" placeholder="Buscar Departamento">
        </div>
        <a class="mx-1" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ver Gráfico">
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="#1e293b" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm64 192c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V256c0-17.7 14.3-32 32-32zm64-64c0-17.7 14.3-32 32-32s32 14.3 32 32V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V160zM320 288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V320c0-17.7 14.3-32 32-32z"/>
            </svg>
        </a>
        <a class="mx-1" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Añadir Gráfico">
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="#1e293b" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
            </svg>
        </a>
      </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-xxl-4 col-lg-6 col-sm-12 mb-xl-0">
                <div class="card border shadow-xs mb-4">
                <div class="card-header bg-dark d-flex align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Acciones
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalCrearPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                </svg>
                                Añadir Presupuesto
                            </a>
                        </li>
                          <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalEditarPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
                                </svg>
                                Actualizar presupuesto
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-start p-3 w-100">
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon icon-shape icon-sm bg-dark text-white text-center border-radius-sm d-flex align-items-center justify-content-center">
                        <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M4.5 3.75a3 3 0 00-3 3v.75h21v-.75a3 3 0 00-3-3h-15z"></path>
                            <path fill-rule="evenodd" d="M22.5 9.75h-21v7.5a3 3 0 003 3h15a3 3 0 003-3v-7.5zm-18 3.75a.75.75 0 01.75-.75h6a.75.75 0 010 1.5h-6a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z" clip-rule="evenodd"></path>
                        </svg>
                        </div>
                        <p class="h4 text-secondary mb-1 ms-3">Administración</p>
                    </div>
                    <div class="row">
                    <div class="col-12">
                        <div class="w-100">
                        <p class="mb-2 font-weight-bold text-md h4">Saldo disponible: $ <span class="text-success">34.445.210</span></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="w-100">
                        <p class="mb-2 font-weight-bold text-sm h4">Presupuesto del Año: $ <span class="">39.118.500</span></p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-sm-12 mb-xl-0">
                <div class="card border shadow-xs mb-4">
                <div class="card-header bg-dark d-flex align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalCrearPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                </svg>
                                Añadir Presupuesto
                            </a>
                        </li>
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalEditarPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
                                </svg>
                                Actualizar presupuesto
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-start p-3 w-100">
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon icon-shape icon-sm bg-dark text-white text-center border-radius-sm d-flex align-items-center justify-content-center">
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.5 5.25a3 3 0 013-3h3a3 3 0 013 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0112 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 017.5 5.455V5.25zm7.5 0v.09a49.488 49.488 0 00-6 0v-.09a1.5 1.5 0 011.5-1.5h3a1.5 1.5 0 011.5 1.5zm-3 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd"></path>
                                <path d="M3 18.4v-2.796a4.3 4.3 0 00.713.31A26.226 26.226 0 0012 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 01-6.477-.427C4.047 21.128 3 19.852 3 18.4z"></path>
                            </svg>
                        </div>
                        <p class="h4 text-secondary mb-1 ms-3">Logística</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-md h4">Saldo disponible: $ <span class="text-success">18.889.562</span></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-sm h4">Presupuesto del Año: $ <span class="">23.460.700</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-sm-12 mb-xl-0">
                <div class="card border shadow-xs mb-4">
                <div class="card-header bg-dark d-flex align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalCrearPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                </svg>
                                Añadir Presupuesto
                            </a>
                        </li>
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalEditarPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
                                </svg>
                                Actualizar presupuesto
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-start p-3 w-100">
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon icon-shape icon-sm bg-dark text-white text-center border-radius-sm d-flex align-items-center justify-content-center">
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm4.5 7.5a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0v-2.25a.75.75 0 01.75-.75zm3.75-1.5a.75.75 0 00-1.5 0v4.5a.75.75 0 001.5 0V12zm2.25-3a.75.75 0 01.75.75v6.75a.75.75 0 01-1.5 0V9.75A.75.75 0 0113.5 9zm3.75-1.5a.75.75 0 00-1.5 0v9a.75.75 0 001.5 0v-9z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <p class="h4 text-secondary mb-1 ms-3">RR. HH</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-md h4">Saldo disponible: $ <span class="text-success">15.553.090</span></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-sm h4">Presupuesto del Año: $ <span class="">17.900.342</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-sm-12 mb-xl-0">
                <div class="card border shadow-xs mb-4">
                <div class="card-header bg-dark d-flex align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalCrearPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                </svg>
                                Añadir Presupuesto
                            </a>
                        </li>
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalEditarPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
                                </svg>
                                Actualizar presupuesto
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-start p-3 w-100">
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon icon-shape icon-sm bg-dark text-white text-center border-radius-sm d-flex align-items-center justify-content-center">
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 00-3 3v4.318a3 3 0 00.879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 005.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 00-2.122-.879H5.25zM6.375 7.5a1.125 1.125 0 100-2.25 1.125 1.125 0 000 2.25z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <p class="h4 text-secondary mb-1 ms-3">Finanzas</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-md h4">Saldo disponible: $ <span class="text-success">20.994.354</span></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-sm h4">Presupuesto del Año: $ <span class="">27.464.122</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-sm-12 mb-xl-0">
                <div class="card border shadow-xs mb-4">
                <div class="card-header bg-dark d-flex align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalCrearPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                </svg>
                                Añadir Presupuesto
                            </a>
                        </li>
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalEditarPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
                                </svg>
                                Actualizar presupuesto
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-start p-3 w-100">
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon icon-shape icon-sm bg-dark text-white text-center border-radius-sm d-flex align-items-center justify-content-center">
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 00-3 3v4.318a3 3 0 00.879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 005.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 00-2.122-.879H5.25zM6.375 7.5a1.125 1.125 0 100-2.25 1.125 1.125 0 000 2.25z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <p class="h4 text-secondary mb-1 ms-3">Ventas</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-md h4">Saldo disponible: $ <span class="text-success">10.456.480</span></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-sm h4">Presupuesto del Año: $ <span class="">14.556.980</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-sm-12 mb-xl-0">
                <div class="card border shadow-xs mb-4">
                <div class="card-header bg-dark d-flex align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalCrearPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                </svg>
                                Añadir Presupuesto
                            </a>
                        </li>
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalEditarPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
                                </svg>
                                Actualizar presupuesto
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-start p-3 w-100">
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon icon-shape icon-sm bg-dark text-white text-center border-radius-sm d-flex align-items-center justify-content-center">
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 00-3 3v4.318a3 3 0 00.879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 005.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 00-2.122-.879H5.25zM6.375 7.5a1.125 1.125 0 100-2.25 1.125 1.125 0 000 2.25z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <p class="h4 text-secondary mb-1 ms-3">Producción</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-md h4">Saldo disponible: $ <span class="text-success">22.344.890</span></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-sm h4">Presupuesto del Año: $ <span class="">32.117.550</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-sm-12 mb-xl-0">
                <div class="card border shadow-xs mb-4">
                <div class="card-header bg-dark d-flex align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalCrearPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                </svg>
                                Añadir Presupuesto
                            </a>
                        </li>
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalEditarPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
                                </svg>
                                Actualizar presupuesto
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-start p-3 w-100">
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon icon-shape icon-sm bg-dark text-white text-center border-radius-sm d-flex align-items-center justify-content-center">
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 00-3 3v4.318a3 3 0 00.879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 005.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 00-2.122-.879H5.25zM6.375 7.5a1.125 1.125 0 100-2.25 1.125 1.125 0 000 2.25z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <p class="h4 text-secondary mb-1 ms-3">Seguridad</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-md h4">Saldo disponible: $ <span class="text-success">18.502.326</span></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-sm h4">Presupuesto del Año: $ <span class="">43.238.590</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-sm-12 mb-xl-0">
                <div class="card border shadow-xs mb-4">
                <div class="card-header bg-dark d-flex align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalCrearPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                </svg>
                                Añadir Presupuesto
                            </a>
                        </li>
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalEditarPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
                                </svg>
                                Actualizar presupuesto
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-start p-3 w-100">
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon icon-shape icon-sm bg-dark text-white text-center border-radius-sm d-flex align-items-center justify-content-center">
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 00-3 3v4.318a3 3 0 00.879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 005.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 00-2.122-.879H5.25zM6.375 7.5a1.125 1.125 0 100-2.25 1.125 1.125 0 000 2.25z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <p class="h4 text-secondary mb-1 ms-3">Marketing</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-md h4">Saldo disponible: $ <span class="text-success">16.859.234</span></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-sm h4">Presupuesto del Año: $ <span class="">24.137.222</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-sm-12 mb-xl-0">
                <div class="card border shadow-xs mb-4">
                <div class="card-header bg-dark d-flex align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalCrearPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                </svg>
                                Añadir Presupuesto
                            </a>
                        </li>
                            <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalEditarPresupuesto">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
                                </svg>
                                Actualizar presupuesto
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-start p-3 w-100">
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon icon-shape icon-sm bg-dark text-white text-center border-radius-sm d-flex align-items-center justify-content-center">
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 00-3 3v4.318a3 3 0 00.879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 005.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 00-2.122-.879H5.25zM6.375 7.5a1.125 1.125 0 100-2.25 1.125 1.125 0 000 2.25z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <p class="h4 text-secondary mb-1 ms-3">Compras</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-md h4">Saldo disponible: $ <span class="text-success">26.234.748</span></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="w-100">
                            <p class="mb-2 font-weight-bold text-sm h4">Presupuesto del Año: $ <span class="">37.124.563</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalCrearPresupuesto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCrearPresupuestoLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalCrearPresupuestoLabel">Añadir Presupuesto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div>
                <form class="form bg-dark rounded p-2" action="">
                    <div>
                        <p class="font-weight-bold text-light">Departamento X</p>
                    </div>
                    <div class="bg-dark rounded p-2">
                        <div>
                            <p class="font-weight-bold text-light">Presupuesto: $ <span class="text-success">00.000.000</span></p>
                            <p class="font-weight-bold text-light">Saldo: $ <span class="text-success">00.000.000</span></p>
                        </div>
                    </div>
                </form>
                <div class="mt-2">
                    <label class="form-label font-weight-bold" for="presupuesto">Presupuesto</label>
                    <input id="presupuesto" class="form-control" type="number" placeholder="Presupuesto ...">
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <a href="{% url 'app_finanzas:departamentos' %}" type="button" class="btn btn-primary">Añadir</a>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalEditarPresupuesto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditarPresupuestoLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalEditarPresupuestoLabel">Actualizar Presupuesto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form bg-dark rounded p-2" action="">
                        <div>
                            <p class="font-weight-bold text-light">Departamento X</p>
                        </div>
                        <div class="bg-dark rounded p-2">
                            <div>
                                <p class="font-weight-bold text-light">Presupuesto: $ <span class="text-success">00.000.000</span></p>
                                <p class="font-weight-bold text-light">Saldo: $ <span class="text-success">00.000.000</span></p>
                            </div>
                        </div>
                    </form>
                    <div class="mt-2">
                        <label class="form-label font-weight-bold" for="presupuesto">Presupuesto</label>
                        <input id="presupuesto" class="form-control" type="number" placeholder="Presupuesto ...">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <a href="{% url 'app_finanzas:departamentos' %}" type="button" class="btn btn-primary">Actualizar</a>
            </div>
        </div>
        </div>
    </div>
    

    <div class="container mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center flex-wrap ">
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn w-100 px-3" href="#">Previous</a></li>
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn bg-secondary text-light w-100 px-3 font-weight-bold" href="#">1</a></li>
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn w-100 px-3 font-weight-bold" href="#">2</a></li>
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn w-100 px-3 font-weight-bold" href="#">3</a></li>
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn w-100 px-3" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
    
{% endblock content %}
    