{% extends 'layouts/rh/subcard-content.html' %}
{% load static %}



{% block card-body %}

<form method="post">
    <fieldset disabled>
        <div class="row">
            <div class="col">
                <div class="form-row px-4">
                    <div class="col-md-12 mb-3">
                        <label for="txtAFP">AFP</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtIdAFP" placeholder="ID"
                                aria-describedby="inputGroupPrepend">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">-</span>
                            </div>
                            <input type="text" class="form-control" id="txtAFP" placeholder="AFP"
                                aria-describedby="inputGroupappend">
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtPorcFondPension">% Cotizacion Fond. Pensión</label>
                        <input type="text" class="form-control" id="txtPorcFondPension" placeholder="0">
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-3 pt-3">
                                <div class="form-check align-items-center">
                                    <label for="chkUtilizaFondPensionAdicional" class="form-check-label">Utiliza
                                        adicional</label>
                                    <input type="checkbox" class="form-check-input" id="chkUtilizaFondPensionAdicional"
                                        checked>
                                </div>
                            </div>
                            <div class="col">
                                <label for="txtPorcFondPensionAdicional">Procentaje adicional</label>
                                <input type="text" class="form-control" id="txtPorcFondPensionAdicional"
                                    placeholder="0">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtPorcAdicional" class="mb-3">Porcentaje adicional</label>
                        <div class="form-check form-switch d-flex align-items-start gap-5 px-0">
                            <label class="form-check-label px-1" for="chkAdicionalPesos">Pesos</label>
                            <input class="form-check-input px-1" type="checkbox" role="switch" id="chkAdicionalPesos"
                                checked>
                            <label class="form-check-label px-1" for="chkAdicionalUF">UF</label>
                            <input class="form-check-input px-1" type="checkbox" role="switch" id="chkAdicionalUF">
                            <label class="form-check-label px-1" for="chkAdicionalPorc">Porcentaje</label>
                            <input class="form-check-input px-1" type="checkbox" role="switch" id="chkAdicionalPorc">
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtMontoFondPensionAdicional">Monto</label>
                        <input type="text" class="form-control" id="txtMontoFondPensionAdicional">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-row px-4">
                    <div class="col-md-12 mb-3">
                        <label for="txtISAPRE">ISAPRE</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtIdISAPRE" placeholder="ID"
                                aria-describedby="inputGroupPrepend">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">-</span>
                            </div>
                            <input type="text" class="form-control" id="txtISAPRE" placeholder="ISAPRE"
                                aria-describedby="inputGroupappend">
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtPorcISAPRE">% Cotizacion ISAPRE</label>
                        <input type="text" class="form-control" id="txtPorcISAPRE">
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-3 pt-3">
                                <div class="form-check align-items-center">
                                    <label for="chkUtilizaLey18566" class="form-check-label">Utiliza Ley N°
                                        18566</label>
                                    <input type="checkbox" class="form-check-input" id="chkUtilizaLey18566" checked>
                                </div>
                            </div>
                            <div class="col">
                                <label for="txtPorcFondPensionAdicionalLey">Porcentaje adicional Ley</label>
                                <input type="text" class="form-control" id="txtPorcFondPensionAdicionalLey"
                                    placeholder="0">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtMontoCotizarLey">Monto a cotizar Ley Nº 18566</label>
                        <input type="text" class="form-control" id="txtMontoCotizarLey">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtCaja">Caja de compensacion</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtIdCaja" placeholder="ID"
                                aria-describedby="inputGroupPrepend">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">-</span>
                            </div>
                            <input type="text" class="form-control" id="txtCaja" placeholder="Caja de compensacion"
                                aria-describedby="inputGroupappend">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="col">
        <div class="row">
            <div class="col-8">

            </div>
            <div class="col pe-5">
                <div class="btn-group btn-group-sm text-center d-flex align-items-end" role="group"
                    aria-label="Basic example">
                    <button type="button"
                        class="btn btn-sm btn-success btn-icon  align-items-center mb-0">Editar</button>
                    <button type="button" class="btn btn-sm btn-dark btn-icon align-items-center mb-0">Aceptar</button>
                </div>
            </div>
        </div>

    </div>

</form>

<style>
    #txtAFP,
    #txtISAPRE,
    #txtCaja {
        width: max-content;
    }
</style>

<script>
    $(document).ready(function () {

        $('#subChildModule').hide();

        $.ajax({
            url: 'PrevisionView/',
            method: 'GET',
            data: { element_id: 'R02FichaPrevisionView' },
            success: function (data) {

                $('#subChildModule').text(capitalizeAndRemoveUnderscore(data.MetaData.meta.modulos[2].subChildModuleName))
                $('#subChildModule').show();

                $("#txtIdAFP").val(data.MetaData.user.prevision.afp.id_afp);
                $("#txtAFP").val(data.MetaData.user.prevision.afp.nombre);
                $("#txtPorcFondPension").val(data.MetaData.user.prevision.afp.porc_cotizacion);
                if (data.MetaData.user.prevision.afp.cotizacion_adicional) {
                    $("#chkUtilizaFondPensionAdicional").prop('checked', true);
                    $('#txtPorcFondPensionAdicional').val(data.MetaData.user.prevision.afp.cotizacion_adicional.porc_cotizacion_adicional)
                    if (data.MetaData.user.prevision.afp.cotizacion_adicional.tipo_monto_cotizacion_adicional === 'pesos'){
                        $('#chkAdicionalPesos').prop('checked', true)
                        $('#chkAdicionalUF').prop('checked', false)
                        $('#chkAdicionalPorc').prop('checked', false)
                    }else if (data.MetaData.user.prevision.afp.cotizacion_adicional.tipo_monto_cotizacion_adicional === 'uf') {
                        $('#chkAdicionalPesos').prop('checked', false)
                        $('#chkAdicionalUF').prop('checked', true)
                        $('#chkAdicionalPorc').prop('checked', false)
                    }else if (data.MetaData.user.prevision.afp.cotizacion_adicional.tipo_monto_cotizacion_adicional === 'porcentaje'){
                        $('#chkAdicionalPesos').prop('checked', false)
                        $('#chkAdicionalUF').prop('checked', false)
                        $('#chkAdicionalPorc').prop('checked', true)
                    }
                     $('#txtMontoFondPensionAdicional').val(data.MetaData.user.prevision.afp.cotizacion_adicional.monto_cotizacion_adicional)
                } else {
                    $("#chkUtilizaFondPensionAdicional").prop('checked', false);
                }
                $("#txtIdISAPRE").val(data.MetaData.user.prevision.isapre.id_isapre);
                $("#txtISAPRE").val(data.MetaData.user.prevision.isapre.nombre);
                $("#txtPorcISAPRE").val(data.MetaData.user.prevision.isapre.porc_cotizacion);

                if(data.MetaData.user.prevision.isapre.ley_18566){
                    $('#chkUtilizaLey18566').prop('checked', true);
                    $("#txtPorcFondPensionAdicionalLey").val(data.MetaData.user.prevision.isapre.ley_18566.porc_cotizacion);
                    $("#txtMontoCotizarLey").val(data.MetaData.user.prevision.isapre.ley_18566.monto_contizacion);
                }else{
                    $('#chkUtilizaLey18566').prop('checked', false);
                    $("#txtPorcFondPensionAdicionalLey").val('');
                    $("#txtMontoCotizarLey").val('');
                }

                $('#txtIdCaja').val(data.MetaData.user.prevision.caja_compensacion.id_caja_compensacion);
                $('#txtCaja').val(data.MetaData.user.prevision.caja_compensacion.nombre);

            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });

        function capitalizeAndRemoveUnderscore(str) {
            return str.split('_')
                .map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase())
                .join(' ');
        }

    });
</script>

{% endblock card-body %}