{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<div class="container-fluid mt-4">
  <h1 class="text-center">Departamentos</h1>
  <hr />
  <div class="row d-flex flex-wrap">
    <div class="col-md-3 mb-3">
      <div class="card border shadow-xs mb-4">
        <div class="card-body text-start p-3 d-flex flex-grow-1 justify-content-between align-items-center text-start text-nowrap">
          <div class="fs-5">
            <h2>Ventas</h2>
            <p class="fs-6 text-nowrap">Nr. Trabajadores: 35</p>
          </div>
          <div class="me-3">
              <svg height="60" width="60 object-fit-contain" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path style="fill: #10142c"
              d="M312 24V34.5c6.4 1.2 12.6 2.7 18.2 4.2c12.8 3.4 20.4 16.6 17 29.4s-16.6 20.4-29.4 17c-10.9-2.9-21.1-4.9-30.2-5c-7.3-.1-14.7 
              1.7-19.4 4.4c-2.1 1.3-3.1 2.4-3.5 3c-.3 .5-.7 1.2-.7 2.8c0 .3 0 .5 0 .6c.2 .2 .9 1.2 3.3 2.6c5.8 3.5 14.4 6.2 27.4 10.1l.9 .3c11.1 
              3.3 25.9 7.8 37.9 15.3c13.7 8.6 26.1 22.9 26.4 44.9c.3 22.5-11.4 38.9-26.7 48.5c-6.7 4.1-13.9 7-21.3 8.8V232c0 
              13.3-10.7 24-24 24s-24-10.7-24-24V220.6c-9.5-2.3-18.2-5.3-25.6-7.8c-2.1-.7-4.1-1.4-6-2c-12.6-4.2-19.4-17.8-15.2-30.4s17.8-19.4 30.4-15.2c2.6 .9 
              5 1.7 7.3 2.5c13.6 4.6 23.4 7.9 33.9 8.3c8 .3 15.1-1.6 19.2-4.1c1.9-1.2 2.8-2.2 3.2-2.9c.4-.6 .9-1.8 .8-4.1l0-.2c0-1 
              0-2.1-4-4.6c-5.7-3.6-14.3-6.4-27.1-10.3l-1.9-.6c-10.8-3.2-25-7.5-36.4-14.4c-13.5-8.1-26.5-22-26.6-44.1c-.1-22.9 12.9-38.6 27.7-47.4c6.4-3.8 
              13.3-6.4 20.2-8.2V24c0-13.3 10.7-24 24-24s24 10.7 24 24zM568.2 336.3c13.1 17.8 9.3 42.8-8.5 55.9L433.1 485.5c-23.4 17.2-51.6 26.5-80.7 26.5H192 
              32c-17.7 0-32-14.3-32-32V416c0-17.7 14.3-32 32-32H68.8l44.9-36c22.7-18.2 50.9-28 80-28H272h16 64c17.7 0 32 14.3 32 32s-14.3 32-32 32H288 272c-8.8 
              0-16 7.2-16 16s7.2 16 16 16H392.6l119.7-88.2c17.8-13.1 42.8-9.3 55.9 8.5zM193.6 384l0 0-.9 0c.3 0 .6 0 .9 0z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="p-3 border bg-light">
        <h2>Finanzas</h2>
        <p>Nr. Trabajadores: 10</p>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="p-3 border bg-light">
        <h2>Producción</h2>
        <p>Nr. Trabajadores: 63</p>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="p-3 border bg-light">
        <h2>RR.HH</h2>
        <p>Nr. Trabajadores: 15</p>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="p-3 border bg-light">
        <h2>Compras</h2>
        <p>Nr. Trabajadores: 10</p>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="p-3 border bg-light">
        <h2>Seguridad</h2>
        <p>Nr. Trabajadores: 8</p>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="p-3 border bg-light">
        <h2>Marketing</h2>
        <p>Nr. Trabajadores: 10</p>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="p-3 border bg-light">
        <h2>Logística y Operaciones</h2>
        <p>Nr. Trabajadores: 10</p>
      </div>
    </div>
    <!-- Agrega otras columnas para otros departamentos -->
  </div>
  <div class="row my-4">
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
      <div class="card shadow-xs border h-100">
        <div class="card-header pb-0">
          <h6 class="font-weight-semibold text-lg mb-0">Balances over time</h6>
          <p class="text-sm">Here you have details about the balance.</p>
          <div
            class="btn-group"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio1"
              autocomplete="off"
              checked
            />
            <label class="btn btn-white px-3 mb-0" for="btnradio1"
              >12 months</label
            >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio2"
              autocomplete="off"
            />
            <label class="btn btn-white px-3 mb-0" for="btnradio2"
              >30 days</label
            >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio3"
              autocomplete="off"
            />
            <label class="btn btn-white px-3 mb-0" for="btnradio3"
              >7 days</label
            >
          </div>
        </div>
        <div class="card-body py-3">
          <div class="chart mb-2">
            <canvas id="chart-bars" class="chart-canvas" height="240"></canvas>
          </div>
          <button class="btn btn-white mb-0 ms-auto">View report</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h2>Registro de Modificaciones</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Código</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Detalles</th>
          </tr>
        </thead>
        <tbody>
          <!-- Agrega filas de tabla para cada registro de modificación -->
          <tr>
            <td>1587687</td>
            <td>19 May, 2021: 10:10 AM</td>
            <td>Usuario Admin011</td>
            <td>Agregado registro XXXX</td>
          </tr>
          <!-- Otras filas de tabla -->
        </tbody>
      </table>
    </div>
  </div>
  {% include 'includes/footer.html' %}
</div>

{% endblock content %} {% block extrascripts %}

<script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
<script
  src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"
  type="text/javascript"
></script>
<script>
  if (document.getElementsByClassName("mySwiper")) {
    var swiper = new Swiper(".mySwiper", {
      effect: "cards",
      grabCursor: true,
      initialSlide: 1,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  }

  var ctx = document.getElementById("chart-bars").getContext("2d");

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
      datasets: [
        {
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderSkipped: false,
          backgroundColor: "#2ca8ff",
          data: [450, 200, 100, 220, 500, 100, 400, 230, 500, 200],
          maxBarThickness: 6,
        },
        {
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderSkipped: false,
          backgroundColor: "#7c3aed",
          data: [200, 300, 200, 420, 400, 200, 300, 430, 400, 300],
          maxBarThickness: 6,
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: false,
        },
        tooltip: {
          backgroundColor: "#fff",
          titleColor: "#1e293b",
          bodyColor: "#1e293b",
          borderColor: "#e9ecef",
          borderWidth: 1,
          usePointStyle: true,
        },
      },
      interaction: {
        intersect: false,
        mode: "index",
      },
      scales: {
        y: {
          stacked: true,
          grid: {
            drawBorder: false,
            display: true,
            drawOnChartArea: true,
            drawTicks: false,
            borderDash: [4, 4],
          },
          ticks: {
            beginAtZero: true,
            padding: 10,
            font: {
              size: 12,
              family: "Noto Sans",
              style: "normal",
              lineHeight: 2,
            },
            color: "#64748B",
          },
        },
        x: {
          stacked: true,
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false,
          },
          ticks: {
            font: {
              size: 12,
              family: "Noto Sans",
              style: "normal",
              lineHeight: 2,
            },
            color: "#64748B",
          },
        },
      },
    },
  });

  var ctx2 = document.getElementById("chart-line").getContext("2d");

  var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

  gradientStroke1.addColorStop(1, "rgba(45,168,255,0.2)");
  gradientStroke1.addColorStop(0.2, "rgba(45,168,255,0.0)");
  gradientStroke1.addColorStop(0, "rgba(45,168,255,0)"); //blue colors

  var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

  gradientStroke2.addColorStop(1, "rgba(119,77,211,0.4)");
  gradientStroke2.addColorStop(0.7, "rgba(119,77,211,0.1)");
  gradientStroke2.addColorStop(0, "rgba(119,77,211,0)"); //purple colors

  new Chart(ctx2, {
    plugins: [
      {
        beforeInit(chart) {
          const originalFit = chart.legend.fit;
          chart.legend.fit = function fit() {
            originalFit.bind(chart.legend)();
            this.height += 40;
          };
        },
      },
    ],
    type: "line",
    data: {
      labels: [
        "Aug 18",
        "Aug 19",
        "Aug 20",
        "Aug 21",
        "Aug 22",
        "Aug 23",
        "Aug 24",
        "Aug 25",
        "Aug 26",
        "Aug 27",
        "Aug 28",
        "Aug 29",
        "Aug 30",
        "Aug 31",
        "Sept 01",
        "Sept 02",
        "Sept 03",
        "Aug 22",
        "Sept 04",
        "Sept 05",
        "Sept 06",
        "Sept 07",
        "Sept 08",
        "Sept 09",
      ],
      datasets: [
        {
          label: "Volume",
          tension: 0,
          borderWidth: 2,
          pointRadius: 3,
          borderColor: "#2ca8ff",
          pointBorderColor: "#2ca8ff",
          pointBackgroundColor: "#2ca8ff",
          backgroundColor: gradientStroke1,
          fill: true,
          data: [
            2828, 1291, 3360, 3223, 1630, 980, 2059, 3092, 1831, 1842, 1902,
            1478, 1123, 2444, 2636, 2593, 2885, 1764, 898, 1356, 2573, 3382,
            2858, 4228,
          ],
          maxBarThickness: 6,
        },
        {
          label: "Trade",
          tension: 0,
          borderWidth: 2,
          pointRadius: 3,
          borderColor: "#832bf9",
          pointBorderColor: "#832bf9",
          pointBackgroundColor: "#832bf9",
          backgroundColor: gradientStroke2,
          fill: true,
          data: [
            2797, 2182, 1069, 2098, 3309, 3881, 2059, 3239, 6215, 2185, 2115,
            5430, 4648, 2444, 2161, 3018, 1153, 1068, 2192, 1152, 2129, 1396,
            2067, 1215, 712, 2462, 1669, 2360, 2787, 861,
          ],
          maxBarThickness: 6,
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: true,
          position: "top",
          align: "end",
          labels: {
            boxWidth: 6,
            boxHeight: 6,
            padding: 20,
            pointStyle: "circle",
            borderRadius: 50,
            usePointStyle: true,
            font: {
              weight: 400,
            },
          },
        },
        tooltip: {
          backgroundColor: "#fff",
          titleColor: "#1e293b",
          bodyColor: "#1e293b",
          borderColor: "#e9ecef",
          borderWidth: 1,
          pointRadius: 2,
          usePointStyle: true,
          boxWidth: 8,
        },
      },
      interaction: {
        intersect: false,
        mode: "index",
      },
      scales: {
        y: {
          grid: {
            drawBorder: false,
            display: true,
            drawOnChartArea: true,
            drawTicks: false,
            borderDash: [4, 4],
          },
          ticks: {
            callback: function (value, index, ticks) {
              return parseInt(value).toLocaleString() + " EUR";
            },
            display: true,
            padding: 10,
            color: "#b2b9bf",
            font: {
              size: 12,
              family: "Noto Sans",
              style: "normal",
              lineHeight: 2,
            },
            color: "#64748B",
          },
        },
        x: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false,
            borderDash: [4, 4],
          },
          ticks: {
            display: true,
            color: "#b2b9bf",
            padding: 20,
            font: {
              size: 12,
              family: "Noto Sans",
              style: "normal",
              lineHeight: 2,
            },
            color: "#64748B",
          },
        },
      },
    },
  });
</script>

{% endblock extrascripts %}
