{% extends 'layouts/base.html' %} 

{% load static %} 
{% block content %}
<div class="container-fluid mt-4">

<style>
    .col {
        display: inline-block;
        vertical-align: top; /* Esto ayuda a alinear los elementos si tienen diferentes alturas */
    }
    .active a {
        color: #0f172a; /* Color activo para el título seleccionado */
        text-decoration: none; /* Eliminar el subrayado de los enlaces */
    }
    .inactive a {
        color: gray; /* Color inactivo para el título no seleccionado */
        text-decoration: none; /* Eliminar el subrayado de los enlaces */
    }
    .placeholder {
        height: 10px; /* Altura mínima */
        margin-bottom: 5px; /* Espacio mínimo */
        background-color: transparent; /* Sin color de fondo */
        border: none; /* Sin borde */
    }
</style>

    <div class="row align-items-end">
        <div id="productos-col" class="col-auto text-left">
        <h1 class="title inactive"><a href="{% url 'app_administracion:productos' %}" class="title-link">Productos</a></h1>
        </div>
        <div class="col-auto text-left">
          <h1>/</h1>
        </div>
        <div id="ordenes-col" class="col-auto text-left">
          <h1 class="title active"><a href="{% url 'app_administracion:ordenesproductos' %}">Órdenes Productos</a></h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col">
            <h2>Pendientes</h2>
            <div id="pendientes" class="sortable-list">
                <div class="placeholder"></div>
                <div class="card">
                    <div class="card-body">
                    Tarjeta 1
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    Tarjeta 2
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    Tarjeta 3
                    </div>
                </div>
              <!-- Tarjetas pendientes -->
            </div>
          </div>
          <div class="col">
            <h2>Producción</h2>
            <div id="produccion" class="sortable-list">
                <div class="placeholder"></div>
                <div class="card">
                    <div class="card-body">
                    Tarjeta 4
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    Tarjeta 5
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    Tarjeta 6
                    </div>
                </div>
              <!-- Tarjetas en producción -->
            </div>
          </div>
          <div class="col">
            <h2>Preparado</h2>
            <div id="preparado" class="sortable-list">
                <div class="placeholder"></div>
              <!-- Tarjetas preparadas -->
                <div class="card">
                    <div class="card-body">
                    Tarjeta 7
                    </div>
                </div>
            </div>
          </div>
          <div class="col">
            <h2>Finalizado</h2>
            <div id="finalizado" class="sortable-list">
                <div class="placeholder"></div>
              <!-- Tarjetas finalizadas -->
            </div>
          </div>
        </div>
    </div>


</div>
{% endblock content %}
{% block extrascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

<script>
    var pendientesSortable = new Sortable(document.getElementById('pendientes'), {
      group: {
        name: 'shared',
        pull: true, // Permite arrastrar elementos fuera de esta lista
        put: true   // Permite soltar elementos de otras listas en esta lista
      },
      animation: 150,
      emptyInsertThreshold: 5 // Permitir insertar elementos en una lista vacía con sensibilidad baja
    });
  
    var produccionSortable = new Sortable(document.getElementById('produccion'), {
      group: {
        name: 'shared',
        pull: true, // Permite arrastrar elementos fuera de esta lista
        put: true   // Permite soltar elementos de otras listas en esta lista
      },
      animation: 150,
      emptyInsertThreshold: 5 // Permitir insertar elementos en una lista vacía con sensibilidad baja
    });
  
    var preparadoSortable = new Sortable(document.getElementById('preparado'), {
      group: {
        name: 'shared',
        pull: true, // Permite arrastrar elementos fuera de esta lista
        put: true   // Permite soltar elementos de otras listas en esta lista
      },
      animation: 150,
      emptyInsertThreshold: 5 // Permitir insertar elementos en una lista vacía con sensibilidad baja
    });
  
    var finalizadoSortable = new Sortable(document.getElementById('finalizado'), {
      group: {
        name: 'shared',
        pull: true, // Permite arrastrar elementos fuera de esta lista
        put: true   // Permite soltar elementos de otras listas en esta lista
      },
      animation: 150,
      emptyInsertThreshold: 5 // Permitir insertar elementos en una lista vacía con sensibilidad baja
    });
</script>

{% endblock extrascripts %}