{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<div class="container-fluid py-4 px-5">
  <div class="row">
    <div class="col-12">
      <h3>Procesos</h3>
      <hr>
      <br>
      <div class="card border shadow-xs mb-4">
        <div class="card-header border-bottom pb-0">
          <div class="d-sm-flex align-items-center mb-3">
            <div>
              <h6 class="font-weight-semibold text-lg mb-0">Procesos</h6>
              <p class="text-sm mb-sm-0">Listado de Procesos</p>
            </div>
            
          </div>
          <div class="row">
          <div class="card m-4" style="width: 18rem;">
            <img class="card-img-top" src="static/img/png-clipart-calculator-calculator.png" alt="Calculadora">
            <div class="card-body">
              <h5 class="card-title">Calculadora</h5>
              <p class="card-text">Una calculadora es un dispositivo electrónico o mecánico utilizado para realizar operaciones matemáticas básicas.</p>
              <a href="#" class="btn btn-secondary">Ver Proceso</a>
            </div>
          </div>
          <div class="card m-4" style="width: 18rem;">
          <img class="card-img-top" src="static/img/png-clipart-calculator-calculator.png" alt="Calculadora">
          <div class="card-body">
            <h5 class="card-title">Calculadora</h5>
            <p class="card-text">Una calculadora es un dispositivo electrónico o mecánico utilizado para realizar operaciones matemáticas básicas.</p>
            <a href="#" class="btn btn-secondary">Ver Proceso</a>
          </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
          <img class="card-img-top" src="static/img/png-clipart-calculator-calculator.png" alt="Calculadora">
          <div class="card-body">
            <h5 class="card-title">Calculadora</h5>
            <p class="card-text">Una calculadora es un dispositivo electrónico o mecánico utilizado para realizar operaciones matemáticas básicas.</p>
            <a href="#" class="btn btn-secondary">Ver Proceso</a>
          </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
          <img class="card-img-top" src="static/img/png-clipart-calculator-calculator.png" alt="Calculadora">
          <div class="card-body">
            <h5 class="card-title">Calculadora</h5>
            <p class="card-text">Una calculadora es un dispositivo electrónico o mecánico utilizado para realizar operaciones matemáticas básicas.</p>
            <a href="#" class="btn btn-secondary">Ver Proceso</a>
          </div>
        </div>
        </div>

        </div>
      </div>
    </div>
  </div>
  {% include 'includes/footer.html' %}
</div>
{% endblock content %}