{% extends 'layouts/base.html' %}


{% block content %}
    {% block header %}
    <header>
        <h3 class="text-center my-5">Flujos de Caja</h3>
    </header>

    {% endblock header %}

    <div class="container">
      <div class="col my-3 me-auto d-flex justify-content-end">
        <a class="mx-1" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ver Gráfico">
          <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="#1e293b" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm64 192c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V256c0-17.7 14.3-32 32-32zm64-64c0-17.7 14.3-32 32-32s32 14.3 32 32V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V160zM320 288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V320c0-17.7 14.3-32 32-32z"></path>
          </svg>
        </a>
        <a class="mx-1" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Añadir Gráfico">
          <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="#1e293b" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"></path>
          </svg>
        </a>
      </div>
        <div class="col">
            <div class="card shadow-xs border">
              <form action="">
                <div class="card-header border-bottom pb-0">
                  <div class="pb-3 row">
                    <div class="col-12">
                      <div class="dropdown text-end">
                        <button class="btn btn-secondary my-auto fs-6 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Opciones
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                          <li>
                            <a class="dropdown-item fs-6" href="{% url 'app_finanzas:crearFlujoDeCaja' %}">
                              <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="#fff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                              </svg>
                              <span class="ms-2">
                                Crear Flujo de Caja
                              </span>
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item fs-6" href="{% url 'app_finanzas:editarFlujoDeCaja' %}">
                              <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="#fff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
                              </svg>
                              <span class="ms-2">
                                Editar Flujo de Caja
                              </span>
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item fs-6" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                              <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="#fff" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                              </svg>
                              <span class="ms-2">
                                Eliminar Flujo de Caja
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                  </div>
                  </div>
                </div>
                <div class="card-body px-0 py-0">
                  <div class="table-responsive p-0">
                    <table class="table table-hover table-bordered  align-items-center justify-content-center mb-0">
                      <thead class="bg-gray-100 text-center">
                        <tr>
                          <th class="text-secondary text-sm font-weight-bold">Detalle de Ingresos</th>
                          <th class="text-secondary text-sm font-weight-bold ps-2">Mes 1</th>
                          <th class="text-secondary text-sm font-weight-bold ps-2">Mes 2</th>
                          <th class="text-secondary text-sm font-weight-bold ps-2">Mes 3</th>
                          <th class="text-secondary text-sm font-weight-bold ps-2">Mes 4</th>
                          <th class="text-secondary text-sm font-weight-bold ps-2">Mes 5</th>
                          <th class="text-secondary text-sm font-weight-bold ps-2">Mes 6</th>
                          <th class="text-secondary text-sm font-weight-bold ps-2">Mes 7</th>
                          <th class="text-secondary text-sm font-weight-bold ps-2">Mes 8</th>
                          <th class="text-secondary text-sm font-weight-bold ps-2">Mes 9</th>
                          <th class="text-secondary text-sm font-weight-bold ps-2">Mes 10</th>
                          <th class="text-secondary text-sm font-weight-bold ps-2">Mes 11</th>
                          <th class="text-secondary text-sm font-weight-bold ps-2">Mes 12</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr>
                          <td class="ps-4">
                            <span class="text-sm font-weight-normal">Ingresos por Ventas</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                            <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                        </tr>
                        <tr class="bg-gray-100">
                          <td class="text-secondary text-sm font-weight-bold">Total de Ingresos</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                        </tr>
                        <tr class="bg-gray-100">
                          <td class="text-secondary text-sm font-weight-bold">Detalle de Egresos</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                        </tr>
                        <tr>
                          <td class="ps-4">
                            <span class="text-sm font-weight-normal">Egresos por Mes</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                            <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                          <td>
                              <span class="text-sm font-weight-normal">$00.000.000</span>
                          </td>
                        </tr>
                        <tr class="bg-gray-100">
                          <td class="text-secondary text-sm font-weight-bold">Total de Egresos</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                        </tr>
                        <tr class="bg-gray-100">
                          <td class="text-secondary text-sm font-weight-bold">Saldo Neto</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                        </tr>
                        <tr class="bg-gray-100">
                          <td class="text-secondary text-sm font-weight-bold">Saldo Neto Acumulado</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                          <td class="text-secondary text-sm font-weight-bold ps-2">$00.000.000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>
            </div>
          </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Antes de Eliminar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Se eliminará el registro del flujo de caja actual, en caso de no estar seguro cierre esta ventana.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <a type="button" class="btn btn-primary" href="{% url 'app_finanzas:flujoDeCaja' %}">Confirmar</a>
          </div>
        </div>
      </div>
  </div>

    <div class="container mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center flex-wrap ">
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn w-100 px-3" href="#">Previous</a></li>
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn bg-secondary text-light w-100 px-3 font-weight-bold" href="#">1</a></li>
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn w-100 px-3 font-weight-bold" href="#">2</a></li>
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn w-100 px-3 font-weight-bold" href="#">3</a></li>
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn w-100 px-3" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
{% endblock content %}
    