{% extends 'layouts/rh/subcard-content.html' %}
{% load static %}



{% block card-body %}
<form>
    <fieldset disabled>
        <div class="row">
            <span class="text-size-xs mb-3">1.- Seleccione un usuario registrado para definirlo como empleado</span>
            <div class="col">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="optUserRut">Seleccione usuario</label>
                        <select class="form-select" aria-label="" id="optUserRut">
                            <option selected></option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="txtUserRut">Buscar usuario por RUT</label>
                        <input type="search" class="form-control" id="txtUserRut"
                            placeholder="Sin puntos ni guiones. EJ: 123456789">
                    </div>
                </div>
            </div>
            <div class="col-auto d-md-flex align-items-center">
                <div class="form-row pt-4 mt-1">
                    <div class="col-md-12 mb-3">
                        <div class="btn-group btn-group-sm text-center" role="group">
                            <button type="button" class="btn btn-sm btn-dark btn-icon align-items-center mb-0"
                                id="btnAsignar">Asignar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <span class="text-size-xs mb-3">2.- Datos del usuario</span>
            <div class="col">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="txtNombre">Nombre</label>
                        <input type="text" class="form-control" id="txtNombre" placeholder="Nombre">

                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtApPaterno">Apellido paterno</label>
                        <input type="text" class="form-control" id="txtApPaterno" placeholder="Apellido paterno">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtApMaterno">Apellido materno</label>
                        <input type="text" class="form-control" id="txtApMaterno" placeholder="Apellido materno">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtRut">Rut</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtRut" placeholder="Rut"
                                aria-describedby="inputGroupPrepend">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">-</span>
                            </div>
                            <input type="text" class="form-control" id="txtDv" placeholder="DV"
                                aria-describedby="inputGroupappend">
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtFechaNacimiento">Fecha nacimiento</label>
                        <input type="text" class="form-control datepicker" id="txtFechaNacimiento" value=""
                            placeholder="Fecha nacimiento">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="txtDireccion">Direccion</label>
                        <input type="text" class="form-control" id="txtDireccion" placeholder="Direccion">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtComuna">Comuna</label>
                        <input type="text" class="form-control" id="txtComuna" placeholder="Comuna">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtCuidad">Cuidad</label>
                        <input type="text" class="form-control" id="txtCuidad" placeholder="Ciudad">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtNacionalidad">Nacionalidad</label>
                        <input type="text" class="form-control" id="txtNacionalidad" placeholder="Nacionalidad">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtGenero">Genero</label>
                        <input type="text" class="form-control" id="txtGenero" placeholder="Genero">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="txtEmail">Email</label>
                        <input type="text" class="form-control" id="txtEmail" placeholder="Email">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtCelular">Celular</label>
                        <input type="text" class="form-control" id="txtCelular" placeholder="Celular">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtEstadoCivil">Estado civil</label>
                        <input type="text" class="form-control" id="txtEstadoCivil" placeholder="Estado civil">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="txtEstudios">Estudios</label>
                        <input type="text" class="form-control" id="txtEstudios" placeholder="Estudios">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <span class="text-size-xs mb-3">3.- Asignar datos laborales</span>
            <div class="col">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="optUserRut">Asignar Sucursal</label>
                        <select class="form-select" aria-label="" id="optUserRut">
                            <option selected></option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="optUserRut">Asignar Departamento</label>
                        <select class="form-select" aria-label="" id="optUserRut">
                            <option selected></option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="optUserRut">Asignar Cargo</label>
                        <select class="form-select" aria-label="" id="optUserRut">
                            <option selected></option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="optUserRut">Asignar Jefatura</label>
                        <select class="form-select" aria-label="" id="optUserRut">
                            <option selected></option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
{% endblock card-body %}