.enlace{
    transform: translateY(0);
    transition: transform .3s ease;
    background-color: #0f172a;
    border-radius: .625rem;
}

.enlace:hover{
    transform: translateY(-5px);
    transition: transform .3s ease;
    background-color: #2764a5;

}

.activo{
    background-color: #1d2d52;
}

    
.box{
    width: 200px;
    height: 200px;
}

