{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<div class="container-fluid py-4 px-5">
  <h3>Fórmula: Tornillos</h3>
  <hr>
    <div class="card w-lg-70 mx-lg-auto">
        <div class="card-body">
            <form action="">
                <div class="row">
                  <div class="bg-dark rounded">
                    <h3 class="ps-3 py-1 text-light font-weight-bold text-center">Editar Fórmula</h3>
                </div>
                      <div class="col-12 col-md-6">
                          <div class="mb-3">
                            <label>Producto Asignado:</label>
                            <input class="form-control" value="Tornillos">
                        </div>
                        
                        <div class="mb-3">
                          <label>Nombre de fórmula:</label>
                          <input class="form-control" value="Creacion de Tornillos">
                        </div>
                        
                        <div class="mb-3">
                          <label>Departamento:</label>
                          <Select class="form-control">
                            <option>Producción</option>
                            <option>Departamento 1</option>
                            <option>Departamento 2</option>
                            <option>Departamento 3</option>
                            <option>Departamento 4</option>
                          </select>
                        </div>
                        
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="mb-3">
                          <label>Categoria:</label>
                          <Select class="form-control">
                            <option>Fabricación</option>
                            <option>Categoria 1</option>
                            <option>Categoria 2</option>
                            <option>Categoria 3</option>
                            <option>Categoria 4</option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label>Centro Costo:</label>
                          <Select class="form-control">
                            <option>Construcción</option>
                            <option>Centro Costo 1</option>
                            <option>Centro Costo 2</option>
                            <option>Centro Costo 3</option>
                            <option>Centro Costo 4</option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label>Estado:</label>
                          <Select class="form-control">
                            <option>Listo</option>
                            <option>Pendiente</option>
                            <option>Detenido</option>
                          </select>
                        </div>

                      </div>
                      <div class="mb-3">
                        <label>Descripción:</label>
                        <textarea class="form-control">Un tornillo es un dispositivo mecánico simple utilizado para sujetar objetos juntos. Consiste en una varilla cilíndrica con una rosca en espiral a lo largo de su longitud, que se enrosca en una rosca correspondiente en un agujero o en una tuerca. Los tornillos pueden tener una variedad de formas y tamaños, pero generalmente constan de una cabeza, un vástago y una rosca.</textarea>
                      </div>
                <hr class="dotted">
                <div class="d-flex justify-content-center mt-5">
                    <button type="button" class="btn bg-primary text-light font-weight-bold m-1">Editar fórmula</button>
                    <a class="btn bg-secondary text-light font-weight-bold m-1" href="{% url 'app_produccion:ingenieria' %}">Cancelar</a>
                </div>
            </form>
        </div>
      </div>
  </div>
  
  {% include 'includes/footer.html' %}
</div>
{% endblock content %}