{% extends 'layouts/base.html' %}


{% block content %}
    {% block header %}
    <header>
        <h1 class="text-center mt-5">Presupuestos de Centros de Costos</h1>
    </header>

    {% endblock header %}
    <div class="container">
      <a class="btn bg-dark rounded" href="{% url 'app_finanzas:centroDeCostos' %}">
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="#fff" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"></path>
          </svg>
      </a>
    </div>


    <div class="container">
        <div class="col">
            <div class="card shadow-xs border">
              <div class="card-header border-bottom pb-0">
                <div class="pb-3 row">
                  <div class="col-12 col-md-4 order-2">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Departamento</option>
                      <option value="1">Departamento X</option>
                      <option value="2">Departamento X</option>
                      <option value="3">Departamento X</option>
                    </select>
                  </div>
                    <div class="col-12 col-md-4 my-3 my-md-0 order-3">
                      <div class="input-group">
                        <span class="input-group-text text-body">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                            </svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Buscar Centro de Costos ...">
                      </div>
                    </div>
                    <div class="col-12 col-md-4 order-1 mb-3 mb-md-0 order-md-3 text-end">
                        <a href="{% url 'app_finanzas:crearPresupuestosCDC' %}" class="btn btn-secondary my-auto">Crear Presupuesto</a>
                    </div>
                </div>
              </div>
              <div class="card-body px-0 py-0">
                <div class="table-responsive p-0">
                  <table class="table align-items-center justify-content-center mb-0">
                    <thead class="bg-gray-100">
                      <tr>
                        <th class="text-secondary text-xs font-weight-bold">Departamento</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Centro de Costos</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Nombre Presupuesto</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Fecha de Inicio</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Fecha Limite</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Total Presupuestado</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Código Centro de Costos</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Acciones</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Ver Detalle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="ps-4">
                          <span class="text-sm font-weight-normal">Departamento 1</span>
                        </td>
                        <td >
                            <span class="text-sm font-weight-normal">Nombre ...</span>
                        </td>
                        <td >
                          <span class="text-sm font-weight-normal">Nombre ...</span>
                        </td>
                        <td >
                            <span class="text-sm font-weight-normal">XX-XX-XXXX</span>
                        </td>
                        <td >
                            <span class="text-sm font-weight-normal">XX-XX-XXXX</span>
                        </td>
                        <td >
                            <span class="text-sm font-weight-normal">$XX.XXX.XXX</span>
                        </td>
                        <td >
                            <span class="text-sm font-weight-normal">123456</span>
                        </td>
                        <td class="align-middle">
                          <a href="{% url 'app_finanzas:editarPresupuestosCDC' %}" class="text-secondary font-weight-bold text-xs" data-bs-toggle="tooltip" data-bs-title="Editar Presupuesto">
                            <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" fill="#64748B"/>
                            </svg>
                          </a>
                          <span data-bs-toggle="modal" data-bs-target="#modalEliminarPresupuesto">
                              <a type="button" class="text-secondary font-weight-bold text-xs" data-bs-toggle="tooltip" data-bs-title="Eliminar Presupuesto">
                                <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                  <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" fill="#64748B"/>
                                </svg>
                              </a>
                          </span>
                        </td>
                        <td class="align-middle">
                            <span data-bs-toggle="modal" data-bs-target="#modalPresupuesto">
                              <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-bs-toggle="tooltip" data-bs-title="Detalle del Presupuesto">
                                  <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                      <path d="M0 96C0 60.7 28.7 32 64 32H512c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM128 288a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm32-128a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM128 384a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm96-248c-13.3 0-24 10.7-24 24s10.7 24 24 24H448c13.3 0 24-10.7 24-24s-10.7-24-24-24H224zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24H448c13.3 0 24-10.7 24-24s-10.7-24-24-24H224zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24H448c13.3 0 24-10.7 24-24s-10.7-24-24-24H224z" fill="#64748B"/>
                                  </svg>
                              </a>
                            </span>
                        </td>
                      </tr>
                      <tr>
                        <td class="ps-4">
                          <span class="text-sm font-weight-normal">Departamento 1</span>
                        </td>
                        <td >
                            <span class="text-sm font-weight-normal">Nombre ...</span>
                        </td>
                        <td >
                          <span class="text-sm font-weight-normal">Nombre ...</span>
                        </td>
                        <td >
                            <span class="text-sm font-weight-normal">XX-XX-XXXX</span>
                        </td>
                        <td >
                            <span class="text-sm font-weight-normal">XX-XX-XXXX</span>
                        </td>
                        <td >
                            <span class="text-sm font-weight-normal">$XX.XXX.XXX</span>
                        </td>
                        <td >
                            <span class="text-sm font-weight-normal">123456</span>
                        </td>
                        <td class="align-middle">
                          <a href="{% url 'app_finanzas:editarPresupuestosCDC' %}" class="text-secondary font-weight-bold text-xs" data-bs-toggle="tooltip" data-bs-title="Editar Presupuesto">
                            <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" fill="#64748B"/>
                            </svg>
                          </a>
                          <span data-bs-toggle="modal" data-bs-target="#modalEliminarPresupuesto">
                              <a type="button" class="text-secondary font-weight-bold text-xs" data-bs-toggle="tooltip" data-bs-title="Eliminar Presupuesto">
                                <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                  <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" fill="#64748B"/>
                                </svg>
                              </a>
                          </span>
                        </td>
                        <td class="align-middle">
                            <span data-bs-toggle="modal" data-bs-target="#modalPresupuesto">
                              <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-bs-toggle="tooltip" data-bs-title="Detalle del Presupuesto">
                                  <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                      <path d="M0 96C0 60.7 28.7 32 64 32H512c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM128 288a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm32-128a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM128 384a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm96-248c-13.3 0-24 10.7-24 24s10.7 24 24 24H448c13.3 0 24-10.7 24-24s-10.7-24-24-24H224zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24H448c13.3 0 24-10.7 24-24s-10.7-24-24-24H224zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24H448c13.3 0 24-10.7 24-24s-10.7-24-24-24H224z" fill="#64748B"/>
                                  </svg>
                              </a>
                            </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="modal fade" id="modalPresupuesto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalPresupuestoLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalPresupuestoLabel">Datos y Lista del Presupuesto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container bg-dark rounded">
              <p class="py-1 text-light font-weight-bold">Datos Presupuesto:</p>
          </div>
          <div class="mb-3">
              <label for="formInput" class="form-label" for="">Departamento:</label>
              <input disabled id="formInput" class="form-control" type="text" list="lista" placeholder="Departamento ...">
              <datalist class="d-none" id="lista">
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
              </datalist>
          </div>
          <div class="mb-3">
              <label for="formInput" class="form-label" for="">Centro de Costos:</label>
              <input disabled id="formInput" class="form-control" type="text" list="lista-CDC" placeholder="Centro de Costos ...">
              <datalist class="d-none" id="lista-CDC">
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
              </datalist>
          </div>
          <div class="mb-3">
              <label for="formInput" class="form-label" for="">Nombre Presupuesto:</label>
              <input disabled id="formInput" class="form-control" type="text" placeholder="Nombre ...">
          </div>
          <div class="mb-3">
              <label for="formInput" class="form-label" for="">Código Presupuesto:</label>
              <input disabled id="formInput" class="form-control" type="text" placeholder="123 ...">
          </div>
          <div class="container bg-dark rounded">
              <p class="py-1 text-light font-weight-bold">Lista del Presupuesto:</p>
          </div>
          <div class="card-body px-0 pb-0">
              <div class="table-responsive p-0">
                <table class="table table-hover table-bordered align-items-center justify-content-center mb-0">
                  <thead class="bg-gray-100">
                      <tr>
                        <th class="text-secondary text-xs font-weight-bold">Código</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Descripción</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Cantidad</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Neto</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Impuesto</th>
                        <th class="text-secondary text-xs font-weight-bold ps-2">Total</th>
                      </tr>
                    </thead>
                  <tbody class="items">
                      <tr>
                          <td class="ps-1 text-center">
                              <span class="text-sm font-weight-normal">123 ...</span>
                          </td>
                          <td class="ps-1 text-center">
                              <span class="text-sm font-weight-normal descripcion" >Item 1 ...</span>
                          </td>
                          <td class="ps-1 text-center">
                              <span class="text-sm font-weight-normal cantidad">2</span>
                          </td>
                          <td class="ps-1 text-center">
                              <span class="text-sm font-weight-normal neto">$00.000.000</span>
                          </td>
                          <td class="ps-1 text-center">
                              <span class="text-sm font-weight-normal">0.19</span>
                          </td>
                          <td class="ps-1 text-center">
                              <span class="text-sm font-weight-normal total">$00.000.000</span>
                          </td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <hr class="dotted">
          <div class="d-flex flex-column align-items-end">
              <p class="mt-3">Total sin Impuesto: $<span class="total-sin-impuesto">00.000.000</span></p>
              <p class="mb-1">Con Impuesto: $<span class="total-impuesto">00.000.000</span></p>
              <hr class="w-50 dotted">
              <p class="font-weight-bold">Total: $<span id="totalOrden">00.000.000</span></p>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalEliminarPresupuesto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEliminarPresupuestoLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalEliminarPresupuestoLabel">Antes de Eliminar</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Los cambios seran realizados al presupuesto actual, en caso de no estar seguro cierre esta ventana.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <a type="button" class="btn btn-primary" href="{% url 'app_finanzas:presupuestosCDC' %}">Eliminar</a>
            </div>
          </div>
        </div>
    </div>

    <div class="container mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center flex-wrap ">
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn w-100 px-3" href="#">Previous</a></li>
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn bg-secondary text-light w-100 px-3 font-weight-bold" href="#">1</a></li>
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn w-100 px-3 font-weight-bold" href="#">2</a></li>
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn w-100 px-3 font-weight-bold" href="#">3</a></li>
              <li class="page-item mx-1 my-2 my-sm-0"><a class="page-link btn w-100 px-3" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
{% endblock content %}
    