<div class="card-header-content p-sm-2 p-md-3 ">
    <div class="row">
        <div class="col-4 text-start" >
            <div class="row">
                <div class="opt-tittle1">
                    {% block opt-tittle1 %}{% endblock opt-tittle1 %}   
                </div>
            </div>
            <div class="row">
                <div class="opt-tittle2">
                    {% block opt-tittle2 %}{% endblock opt-tittle2 %}   
                </div>
            </div>
        </div>
        <div class="col text-center opt-tittle5">
            {% block opt-tittle5 %}{% endblock opt-tittle5 %}
        </div>
        <div class="col-4 text-end me-sm-3">
            <div class="row d-md-flex gap-1 pr-1">
                <div class="col text-end p-0 opt-tittle3">
                    {% block opt-tittle3 %}{% endblock opt-tittle3 %}
                </div>
                <div class="col-2 text-start mt-1 opt-tittle5">
                    {% block opt-tittle4 %}{% endblock opt-tittle4 %}
                </div>
            </div>
        </div>
    </div>                       
</div>
<div class="container-fluid px-0">
    <div class="card-body-content py-3 m-0 sub-card-content">
        {% block card-body %}{% endblock card-body %}
    </div>
</div>

<style>

    .card-header-content{
        z-index: 1;
    }

    .card-body-content{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #d8d8d8;
        padding: 0;
        margin: 0;
        z-index: 13;
    }

    .opt-tittle1 , .opt-tittle2 {
        margin: 0 0 2px 0;
    }

    .opt-tittle1 p, .opt-tittle2 p, .opt-tittle3 p{
        font-size: smaller;
    }

    .opt-tittle3 div .nav-link{
        width: 0px;
    } 

    .opt-tittle1 p, .opt-tittle2 p{
        margin: 0;
    }

    p{
        margin: 3px 0 0 0;
        padding-top: 6px;
        justify-content: center;
    }
    
    .sub-card-content{
        height: 100%;
    }

</style>






