{% extends 'layouts/base.html' %}


{% block content %}
    {% block header %}
        <header>
            <h3 class="text-center my-5">Actualizar Cotización</h3>
        </header>

    {% endblock header %}

    <div class="container my-5">
        <a class="btn bg-dark rounded" href="{% url 'app_finanzas:cotizacionesCompra' %}">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="#fff" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
            </svg>
        </a>
    </div>

    <div class="container">
        <div class="card w-xl-70 mx-lg-auto">
            <div class="card-body">
                <form action="">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="bg-dark rounded">
                                <p class="ps-3 py-1 text-light font-weight-bold">Cotización:</p>
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">N° Cotización:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="123 ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Fecha de Inicio de la Cotización:</label>
                                <input id="formInput" class="form-control" type="date">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Fecha Limite de la Cotización:</label>
                                <input id="formInput" class="form-control" type="date">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="bg-dark rounded">
                                <p class="ps-3 py-1 text-light font-weight-bold">Comprador:</p>
                            </div>
                            <div class="h-auto">
                                <div class="mb-3">
                                    <label for="formInput" class="form-label" for="">Departamento:</label>
                                    <input id="formInput" class="form-control" type="text" list="lista-comprador" placeholder="Departamento ...">
                                    <datalist class="d-none" id="lista-comprador">
                                        <option value="departamento 1"></option>
                                        <option value="departamento 2"></option>
                                        <option value="departamento 3"></option>
                                    </datalist>
                                </div>
                                <div class="mb-3">
                                    <label for="formInput" class="form-label" for="">Presupuesto: 
                                        <svg type="button" width="15" height="15" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="No se introduce un monto de presupuesto, en su lugar se vincula con el nombre de un presupuesto existente, se cotiza en el detalle." xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path fill="#FF0000" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/>
                                        </svg>
                                    </label>
                                    <input id="formInput" class="form-control" type="text" list="lista-presupuesto" placeholder="Presupuesto ...">
                                    <datalist class="d-none" id="lista-presupuesto">
                                        <option value="nombre presupuesto 1"></option>
                                        <option value="nombre presupuesto 2"></option>
                                        <option value="nombre presupuesto 3"></option>
                                    </datalist>
                                </div>
                                <div class="mb-3">
                                    <label for="formInput" class="form-label" for="">Vincular a: <button type="button" class="btn m-0 p-1 btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalVincularCostos">Seleccionar tipo</button></label>
                                    <input id="formInput" class="form-control" type="text" list="lista-opcion" placeholder="Centro de Costos o Proyecto ...">
                                    <datalist class="d-none" id="lista-opcion">
                                        <option value="nombre 1"></option>
                                        <option value="nombre 2"></option>
                                        <option value="nombre 3"></option>
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="bg-dark rounded">
                                <p class="ps-3 py-1 text-light font-weight-bold">Descripción:</p>
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Descripción:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="Nombre de cotización ...">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="bg-dark rounded">
                                <p class="ps-3 py-1 text-light font-weight-bold">Proveedor:</p>
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Proveedor:</label>
                                <input id="formInput" class="form-control" type="text" list="lista-proveedor" placeholder="Proveedor ...">
                                <datalist class="d-none" id="lista-proveedor">
                                    <option value="Juan"></option>
                                    <option value="Pedro"></option>
                                    <option value="Oscar"></option>
                                </datalist>
                            </div>
                            <div>
                                <p class="font-weight-bold mb-3">Razón Social: <span class="font-weight-normal">Esperando Proovedor ...</span></p>
                                <p class="font-weight-bold mb-3">Giro Comercial: <span class="font-weight-normal">Esperando Proovedor ...</span></p>
                                <p class="font-weight-bold mb-3">Rut Empresa: <span class="font-weight-normal">Esperando Proovedor ...</span></p>
                                <p class="font-weight-bold mb-3">Rut: <span class="font-weight-normal">Esperando Proovedor ...</span></p>
                                <p class="font-weight-bold mb-3">Ciudad: <span class="font-weight-normal">Esperando Proovedor ...</span></p>
                                <p class="font-weight-bold mb-3">Direción: <span class="font-weight-normal">Esperando Proovedor ...</span></p>
                                <p class="font-weight-bold mb-3">Teléfono: <span class="font-weight-normal">Esperando Proovedor ...</span></p>
                                <p class="font-weight-bold mb-3">Correo: <span class="font-weight-normal">Esperando Proovedor ...</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="bg-dark rounded">
                                <p class="ps-3 py-1 text-light font-weight-bold">Cotización detallada:</p>
                            </div>
                            <div class="card-body px-0 pb-0">
                                <div class="table-responsive p-0">
                                  <table class="table table-hover table-bordered align-items-center justify-content-center mb-0">
                                    <thead class="bg-gray-100">
                                      <tr>
                                        <th class="text-secondary text-xs font-weight-bold">Código</th>
                                        <th class="text-secondary text-xs font-weight-bold ps-2">Descripción</th>
                                        <th class="text-secondary text-xs font-weight-bold ps-2">Cantidad</th>
                                        <th class="text-secondary text-xs font-weight-bold ps-2">Neto</th>
                                        <th class="text-secondary text-xs font-weight-bold ps-2">Impuesto</th>
                                        <th class="text-secondary text-xs font-weight-bold ps-2">Total</th>
                                        <th class="text-secondary text-xs font-weight-bold ps-2">Acción</th>
                                      </tr>
                                    </thead>
                                        <tbody class="items">
                                            <tr>
                                                <td class="ps-1">
                                                    <input class="form-control" type="text" placeholder="123 ...">
                                                </td>
                                                <td class="ps-1">
                                                    <input class="form-control descripcion" type="text" placeholder="Item ...">
                                                </td>
                                                <td class="ps-1">
                                                    <input class="form-control cantidad" type="number" min="1" placeholder="2 ...">
                                                </td>
                                                <td class="ps-1">
                                                    <input class="form-control neto" type="text" placeholder="00.000.000">
                                                </td>
                                                <td class="ps-1 text-center">
                                                    <span class="text-sm font-weight-normal">0.19</span>
                                                </td>
                                                <td class="ps-1 text-center">
                                                    <span class="text-sm font-weight-normal total"></span>
                                                </td>
                                                <td class="ps-1 text-center">
                                                    <button type="button" data-bs-toggle="tooltip" data-bs-title="Eliminar Item" class="eliminar btn m-0">
                                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                            <path fill="#1e293b" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                                                        </svg>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a id="Agregar" data-bs-toggle="tooltip" data-bs-title="Agregar Item" class="btn d-inline-block mt-3 mb-0">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path fill="#1e293b" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                        </svg>
                                    </a>
                                    <a id="Eliminar" data-bs-toggle="tooltip" data-bs-title="Eliminar Item" class="btn d-inline-block mt-3 mb-0">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path fill="#1e293b" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted">
                    <div class="row">
                        <div class="col-12 d-flex flex-column align-items-end">
                            <p class="mt-3">Total sin Impuesto: <span class="total-sin-impuesto">$00.000.000</span></p>
                            <p class="mb-1">Con Impuesto: <span class="total-impuesto">$00.000.000</span></p>
                            <hr class="w-50 dotted">
                            <p class="font-weight-bold">Total: <span id="totalOrden">$00.000.000</span></p>
                        </div>
                    </div>
                    <hr class="dotted">
                    <div class="d-flex justify-content-center mt-5 flex-wrap">
                        <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#modalActualizarCotización">Actualizar Cotización</button>
                        <a type="button" class="btn btn-secondary mx-1" href="{% url 'app_finanzas:cotizacionesCompra' %}">Cancelar</a>
                    </div>
                </form>
            </div>
          </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalVincularCostos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalVincularCostosLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalVincularCostosLabel">Vincular Costo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off">
                    <label class="btn mb-0 mx-auto btn-outline-dark" for="option5">Centro de Costos</label>
            
                    <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off">
                    <label class="btn mb-0 mx-auto btn-outline-dark" for="option6">Proyecto</label>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Confirmar</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modalActualizarCotización" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalActualizarCotizaciónLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalActualizarCotizaciónLabel">Por seguridad</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Los datos ingresados actualizaran la cotización actual, en caso de no estar seguro cierre esta ventana.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <a type="button" class="btn btn-primary" href="{% url 'app_finanzas:cotizacionesCompra' %}">Actualizar Cotización</a>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}


{% block extrascripts %}
    <script src="../../../../static/js/finanzas/CentroDeCostos/Compra/Compra.js"></script>
{% endblock extrascripts %}
    
    