{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<div class="container-fluid py-4 px-5">
  <h1>Proceso: Tornillos</h1>
  <hr>
    <div class="card w-lg-70 mx-lg-auto">
        <div class="card-body">
            <form action="">
                <div class="row">
                  <div class="bg-dark rounded">
                    <h3 class="ps-3 py-1 text-light font-weight-bold text-center">Editar Proceso</h3>
                </div>
                      <div class="col-12 col-md-6">
                          <div class="mb-3">
                            <label>Nombre Proceso:</label>
                            <input class="form-control" value="Tornillos">
                        </div>
                        
                        <div class="mb-3">
                          <label>Parametro de Operación:</label>
                          <input class="form-control" value="Produccion">
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
   
                        <div class="mb-3">
                            <label>Instruciones de Operación:</label>
                            <input class="form-control" value="Construccion">
                          </div>

                      </div>
                      <div class="mb-3">
                        <label>Subir Diagrama:</label>
                        <input type="file" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label>Documentación:</label>
                        <input type="file" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label>Descripción:</label>
                        <textarea class="form-control">Un tornillo es un dispositivo mecánico simple utilizado para sujetar objetos juntos. Consiste en una varilla cilíndrica con una rosca en espiral a lo largo de su longitud, que se enrosca en una rosca correspondiente en un agujero o en una tuerca. Los tornillos pueden tener una variedad de formas y tamaños, pero generalmente constan de una cabeza, un vástago y una rosca.</textarea>
                      </div>
                      
                <hr class="dotted">
                <div class="d-flex justify-content-center mt-5">
                    <button type="button" class="btn btn-primary text-light font-weight-bold m-1">Editar Proceso</button>
                    <a class="btn bg-secondary text-light font-weight-bold m-1" href="{% url 'app_produccion:procesos' %}">Cancelar</a>
                </div>
            </form>
        </div>
      </div>
  </div>
  
  {% include 'includes/footer.html' %}
</div>
{% endblock content %}