{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<div class="container-fluid py-4 px-5">
  <h3>Producto: Plastico</h3>
  <hr>
    <div class="card w-lg-70 mx-lg-auto">
        <div class="card-body">
            <form action="">
                <div class="row">
                  <div class="bg-dark rounded">
                    <h3 class="ps-3 py-1 text-light font-weight-bold text-center">Editar Producto</h3>
                </div>
                      <div class="col-12 col-md-6">
                          <div class="mb-3">
                            <label>Nombre Producto:</label>
                            <input class="form-control" value="Plastico">
                        </div>
                        
                        <div class="mb-3">
                          <label>Proveedor:</label>
                          <input class="form-control" value="plasticos.cl">
                        </div>
                        
                        <div class="mb-3">
                          <label>Departamento:</label>
                          <Select class="form-control">
                            <option>RRHH</option>
                            <option>Departamento 1</option>
                            <option>Departamento 2</option>
                            <option>Departamento 3</option>
                            <option>Departamento 4</option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label>Ubicación:</label>
                          <input class="form-control" value="Sector B - Piso 2">
                        </div>
                        <div class="mb-3">
                          <label>Descripción:</label>
                          <textarea class="form-control" style="field-sizing: content;">El plástico es un material polimérico compuesto principalmente de moléculas orgánicas de larga cadena, conocidas como polímeros. Estos polímeros pueden ser naturales, como la celulosa, o sintéticos, como el polietileno o el PVC (policloruro de vinilo). Los plásticos son conocidos por su maleabilidad cuando se calientan, lo que permite darles forma mediante procesos de moldeo como la extrusión, el moldeo por inyección o el termoformado. Son utilizados en una amplia gama de aplicaciones, desde envases y botellas hasta componentes de automóviles, juguetes, muebles, dispositivos electrónicos y más. Los plásticos tienen diversas propiedades, que pueden incluir flexibilidad, transparencia, resistencia al impacto, resistencia química, aislamiento eléctrico y bajo peso.</textarea>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="mb-3">
                          <label>Categoria:</label>
                          <Select class="form-control">
                            <option>Construcción</option>
                            <option>Categoria 1</option>
                            <option>Categoria 2</option>
                            <option>Categoria 3</option>
                            <option>Categoria 4</option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label>Precio Unitario:</label>
                          <input type="number"class="form-control" value="20">
                        </div>
                        <div class="mb-3">
                          <label>Centro Costo:</label>
                          <Select class="form-control">
                            <option>Administración</option>
                            <option>Centro Costo 1</option>
                            <option>Centro Costo 2</option>
                            <option>Centro Costo 3</option>
                            <option>Centro Costo 4</option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label>Cantidad:</label>
                          <input type=number class="form-control" value="25605">
                        </div>
                        <div class="mb-3">
                          <label>Unidad de medida:</label>
                          <input class="form-control" value="Gramos(G)">
                        </div>
                      </div>
                <hr class="dotted">
                <div class="d-flex justify-content-center mt-5">
                    <button type="button" class="btn bg-primary text-light font-weight-bold m-1">Editar Producto</button>
                    <a class="btn bg-secondary text-light font-weight-bold m-1" href="{% url 'app_produccion:inventario' %}">Cancelar</a>
                </div>
            </form>
        </div>
      </div>
  </div>
  
  {% include 'includes/footer.html' %}
</div>
{% endblock content %}