{% extends 'layouts/base.html' %}


{% block content %}
    {% block header %}
        <header>
            <h3 class="text-center my-5">Crear Cuenta Contable</h3>
        </header>

    {% endblock header %}

    <div class="container my-5 w-lg-50">
        <a class="btn bg-dark rounded" href="{% url 'app_finanzas:cuentasContables' %}">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="#fff" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
            </svg>
        </a>
    </div>

    <div class="container">
        <div class="card w-lg-70 w-xl-50 mx-lg-auto">
            <div class="card-body">
                <form action="">
                    <div class="mb-3">
                        <label for="">Seleccionar Departamento o Proyecto:</label>
                        <input id="formInput" class="form-select ms-auto" type="text" list="lista-dto-project" placeholder="Departamento o Proyecto ...">
                        <datalist class="d-none" id="lista-dto-project">
                            <option value="Departamento 1"></option>
                            <option value="Proyecto 1"></option>
                            <option value="departamento 2"></option>
                            <option value="Proyecto 2"></option>
                            <option value="departamento 3"></option>
                        </datalist>
                    </div>
                    <div class="mb-3">
                        <label for="formInput" class="form-label" for="cuenta">Nombre de Cuenta:</label>
                        <input id="cuenta" class="form-control" type="text" placeholder="Nombre ...">
                    </div>
                    <div class="mb-3">
                        <label for="formInput" class="form-label" for="cuenta">Código:</label>
                        <input id="cuenta" class="form-control" type="number" placeholder="123 ...">
                    </div>
                    <div class="mb-3">
                        <label for="">Seleccionar Tipo de Cuenta:</label>
                        <input id="formInput" class="form-select ms-auto" type="text" list="tipoCuenta" placeholder="Tipo de Cuenta ...">
                        <datalist class="d-none" id="tipoCuenta">
                            <option value="tipo de cuenta 1"></option>
                            <option value="tipo de cuenta 2"></option>
                            <option value="tipo de cuenta 3"></option>
                            <option value="tipo de cuenta 4"></option>
                            <option value="tipo de cuenta 5"></option>
                        </datalist>
                    </div>
                    <div class="bg-dark rounded p-2 mb-3">
                        <div>
                            <p class="font-weight-bold text-light">Saldo: $ <span class="text-success">00.000.000</span></p>
                        </div>
                        <div>
                            <label for="formInput" class="form-label text-light" for="cuenta">Ingresar saldo:</label>
                            <input id="cuenta" class="form-control" type="number" placeholder="00.000.000">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center flex-wrap mb-3">
                        <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#modalCrear">Crear</button>
                        <a class="btn btn-secondary mx-1" href="{% url 'app_finanzas:cuentasContables' %}">Cancelar</a>
                    </div>
                </form>
            </div>
          </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalCrear" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCrearLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalCrearLabel">Antes de Crear una Cuenta Contable</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div>
                <p>Se creara un nuevo registro como cuenta contable, si no esta seguro cierre esta ventana</p>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <a class="btn btn-primary" href="{% url 'app_finanzas:cuentasContables' %}">Confirmar</a>
            </div>
        </div>
        </div>
    </div>

{% endblock content %}
    