$slide-in-left-duration: 0.3s;
$slide-in-left-cubic-bezier: cubic-bezier(0.390, 0.575, 0.565, 1.000);

@mixin slide-in-left-animation {
  animation: slide-in-left $slide-in-left-duration $slide-in-left-cubic-bezier both;
}

.slide-in-left {
  @include slide-in-left-animation;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}