{% extends 'layouts/base.html' %}


{% block content %}
    {% block header %}
    <header>
        <h1 class="text-center my-5">Proveedores</h1>
    </header>

    {% endblock header %}

    <div class="container my-5">
        <a class="btn bg-dark rounded" href="{% url 'app_finanzas:proveedor' %}">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="#fff" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
            </svg>
        </a>
    </div>

    <div class="container">
        <div class="card w-lg-50 mx-lg-auto">
            <div class="card-body">
                <form action="">
                    <div class="row">
                        <div class="col-12">
                            <div class="bg-dark rounded">
                                <p class="ps-3 py-1 text-light font-weight-bold">Datos Empresariales:</p>
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Rut Empresa:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="123 ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Razón Social:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="Empresa ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Giro Comercial:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="Actividad ...">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="bg-dark rounded">
                                <p class="ps-3 py-1 text-light font-weight-bold">Datos Proveedor:</p>
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Rut:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="123 ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Nombre:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="Empresa ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Ciudad:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="Ciudad ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Dirección:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="Juan #123 ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Télefono:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="+XXX XXXXXXXX ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Correo:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="persona@gmail.com ...">
                            </div>
                        </div>
                    </div>
                    <hr class="dotted">
                    <div class="d-flex justify-content-center mt-5">
                        <button type="button" class="btn bg-dark text-light font-weight-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Crear Proveedor</button>
                    </div>
                </form>
            </div>
          </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Por Seguridad</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Los datos ingresados se registraran como un nuevo proveedor, en caso de no estar seguro cierre esta ventana.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <a type="button" class="btn btn-primary" href="{% url 'app_finanzas:presupuestosCDC' %}">Confirmar</a>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}
    