{% extends 'layouts/base.html' %}


{% block content %}
    {% block header %}
    <header>
        <h3 class="text-center my-5">Actualizar Proveedores</h3>
    </header>

    {% endblock header %}

    <div class="container my-5">
        <a class="btn bg-dark rounded" href="{% url 'app_finanzas:proveedor' %}">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="#fff" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
            </svg>
        </a>
    </div>

    <div class="container">
        <div class="card w-lg-50 mx-lg-auto">
            <div class="card-body">
                <form action="">
                    <div class="row">
                        <div class="col-12">
                            <div class="bg-dark rounded">
                                <p class="ps-3 py-1 text-light font-weight-bold">Datos Proveedor:</p>
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Rut:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="123 ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Nombre:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="Empresa ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Ciudad:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="Ciudad ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Dirección:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="Juan #123 ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Télefono:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="+XXX XXXXXXXX ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Correo:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="persona@gmail.com ...">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="bg-dark rounded">
                                <p class="ps-3 py-1 text-light font-weight-bold">Datos Empresariales:</p>
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Rut Empresa:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="123 ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Razón Social:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="Empresa ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Giro Comercial:</label>
                                <input id="formInput" class="form-control" type="text" placeholder="Actividad ...">
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Categoria: 
                                    <svg type="button" width="15" height="15" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tipo de servicio que ofrece el proveedor." xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="#FF0000" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/>
                                    </svg>
                                </label>
                                <input id="formInput" class="form-control" type="text" list="lista-categoria" placeholder="Categoria ...">
                                <datalist class="d-none" id="lista-categoria">
                                    <option value="Categoria 1"></option>
                                    <option value="Categoria 2"></option>
                                    <option value="Categoria 3"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="bg-dark rounded">
                                <p class="ps-3 py-1 text-light font-weight-bold">Departamento Asociado:</p>
                            </div>
                            <div class="mb-3">
                                <label for="formInput" class="form-label" for="">Departamento:
                                    <svg type="button" width="15" height="15" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Departamento de la empresa a la cúal ofrece el servicio." xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="#FF0000" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/>
                                    </svg>
                                </label>
                                <input id="formInput" class="form-control" type="text" list="lista-departamento" placeholder="Departamento ...">
                                <datalist class="d-none" id="lista-departamento">
                                    <option value="departamento 1"></option>
                                    <option value="departamento 2"></option>
                                    <option value="departamento 3"></option>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted">
                    <div class="d-flex justify-content-center mt-5 flex-wrap">
                        <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#modalActualizarProveedor">Actualizar Proveedor</button>
                        <a type="button" class="btn btn-secondary mx-1" href="{% url 'app_finanzas:proveedor' %}">Cancelar</a>
                    </div>
                </form>
            </div>
          </div>
    </div>

    <div class="modal fade" id="modalActualizarProveedor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalActualizarProveedorLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalActualizarProveedorLabel">Por Seguridad</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Los datos ingresados actualizaran al proveedor actual, en caso de no estar seguro cierre esta ventana.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <a type="button" class="btn btn-primary" href="{% url 'app_finanzas:proveedor' %}">Actualizar Proveedor</a>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}
    